<div class="border rounded w-50 mx-auto">

  <div class="bg-secondary rounded-top">
    <h2 class="text-center p-3 text-light">Editer votre profil</h2> 

  </div>

  <div class="p-3">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h3>Changer d'Email</h3>
      <div class="field form-group">
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br />
      <h3>Changer de mot de passe</h3>
      <div class="field form-group">
        <br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Nouveau mot de passe (laisser vide si vous ne souhaitez pas en changer)" %>
      </div>

      <div class="field form-group">
        <br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmer nouveau mot de passe" %>
      </div>

      <div class="field form-group">
        <br /><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder: "Mot de passe actuel (requis pour confirmer tout changement)" %>
      </div>

      <div class="actions">
        <br />
        <%= f.submit "Mise à jour", class:"btn btn-success" %>
      </div>
    <% end %>

  </div>

</div>

<div class="border rounded w-50 mx-auto mt-3">

  <div class="bg-secondary rounded-top">

    <h3 class="text-center p-3 text-light">Suprimmer mon compte</h3> 

  </div>

  <div class="p-3">

    <p>Attention, la suppression est définitive! <%= button_to "Suprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class:"btn btn-danger" %></p>

    <%= link_to "Retour", root_path %>

  </div>

</div>
